.projects-heading{
    font-size: 32px;
    color: #1f2235;
    font-family: "Poppins Bold";
}
.btn-code{
    margin-top: 10px;
    border: 1px solid white;
    text-align: center;
    background-color: var(--orange);
    padding: 2px;
}
.btn-code-live{
    margin-top: 10px;
    border: 1px solid white;
    text-align: center;
    background-color: transparent;
    width: 100%;
}