.resume-container{
    display: flex;
    justify-content: space-around;
}
.resume-card{
    margin: 0 auto;
    margin-top: 5%;
    width: 80%;
    height: 80vh;
    box-shadow: 0 0 20px -2px #1f2235;
}

@media screen and (max-width: 375px){
    .resume-card{
        height: auto;
        width: 90%;
        box-shadow: none;
    }
}